:root {
	/* general accent colors */
	--grey-accent: #aaa;
	--grey-accent2: #ebebeb;

	--text-color: #000;
	--url-color: #000;
	--url-hover-color: #767b8d;
	--h-accent: #2f313d;
}

/* **************************************

  GENERAL FONT / ELEMENT

*****************************************/
html body {
	height: 100%;
	font-family: 'Caudex', serif !important;
	min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--h-accent);
	font-family: 'Lalezar', cursive !important;
}

p > a {
	text-decoration: underline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ededed !important;
	margin-top: 0;
    padding: 0;
}

pre {
	line-height: 30px;
	background: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    width: 975px;
    margin-left: auto;
    margin-right: auto;
	border: 1px solid #ebebeb;
	font-size: 110%;
}

blockquote {
	display: table;
	position:relative;
	padding: 15px;
	background-color: whitesmoke;
	border: 2px solid var(--grey-accent2) !important;
	text-align: center;
	font-size: 110%;
	width: 975px;
	margin-left: auto;
	margin-right: auto;
}

blockquote > p {
  	font-style: italic !important;
}

strong {
  font-weight: 700 !important;
}

p > a,
.collection .collection-item,
.collection-item > a {
	color: black !important;
}

p > a:focus,
p > a:hover {
  color:#b5b5b5 !important;
}

.post-head {
	margin-top: 30px;
	margin-bottom: 30px;
}

.post-title {
	margin-top: 0;
}

.post-subitems {
	margin-top: 30px;
	font-weight: 300;
}

.post-subitems > a {
	color:black;
	text-decoration: none;
}

.post-subitems > a:hover {
	color: #b5b5b5;
	text-decoration: underline;
}

/* **************************************

  SPECIFIC RESTRICTIONS TO GUI

*****************************************/

.container-fluid {
	margin-left: auto;
	margin-right: auto;
	max-width:1200px;
}

.main-content {
	background: white;
	border: 2px solid var(--grey-accent2);
	border-bottom: 0 !important;
	padding-top: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.main-content-head {
	margin-top: 0;
}

main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.row.row-post {
	background-color: white !important;
}


.col {
	flex-basis: unset !important;
}


/* **************************************

  HEADER

*****************************************/

.logo-main {
	position: relative;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.text-main {
    position: relative;
	top: 375px;
    display: flex;
	justify-content: center;
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: 300;
	text-shadow: 2px 1px #000000;
	z-index: 1;
}

.cover-image {
    width: 100%;
	object-fit: cover;
	opacity: 0.8;
	max-height: 500px;
}

.logo-fixed {
	height: 48px;
	border-radius: 50px;
	justify-content: center;
    align-items: center;
}

.navbar {
	z-index: 10;
	background: black;
}

ul#navbarNav {
	z-index: 15;
	margin-bottom: 0 !important;
	padding-left: 0 !important;
	background: black;
}

.navbar-nav {
	display: flex !important;
	flex-wrap: nowrap !important;
	flex-direction: row !important;
}

.dropdown-menu.show,
.nav-link.dropdown-item {
    background: black;
}

.nav-link.dropdown-item:hover {
	background: black !important;
	color: #979797 !important;
}

/* color of clickable header */
.headerurl {
	text-decoration: none;
	text-align: center;
    display: block;
	font-size: 3em !important;
	position: relative;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
	color: var(--grey-accent2) !important;
	border-radius: 15px;
	text-decoration: none;
	text-shadow: none;
}

.headerurl:hover {
  text-decoration: none;
  color: var(--grey-accent2) !important;
}

.brand-logo {
	margin:0 !important;
}

.site-title {
	font-weight: 300 !important;
}

nav .brand-logo {
	 left: initial !important;
    -webkit-transform: initial !important;
    transform: initial !important;
}

img.cover {
	width:100%;
	max-height:250px;
	margin-bottom:15px;
}

img.logo {
	height: auto;
	max-height: 85px;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 100px;
	max-width: 100%;
	width: auto;
}

.menu-item {
	padding: 10px;
	list-style-type: none;
}

.menu-item > a {
	font-size: 16px;
    font-weight: 600;
}

.menu-item > a:hover {
	text-decoration: none;
	color: black !important;
	background: rgba(255,255,255,0.8);
	border-radius: 5px;
}

.menu-item > ul > .menu-item {
	margin-top: -11px;
	margin-bottom: -8px;
}

.menu-item:last-child > .dropdown-menu {
	left: inherit !important;
	right: 0% !important;
}

.navbar-brand {
	font-size: 16px !important;
	font-weight: 600;
	margin-left: 10px;
	height: auto;
	border-radius: 10px;
}

img.logo-nav.navbar-brand {
	max-width: 100%;
	max-height: 48px;
}

a.nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.socialfooter-top a i:hover {
	background: #f8f8f8 !important;
}

.top-socials {
	position: relative;
	z-index: 9999;
	text-align: center;
	display: block;
}

.top-socials a i {
    margin-left: 5px;
    margin-right: 5px;
}

/* **************************************

  CONTENT MAIN

*****************************************/
.homepage-image {
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	height: 250px;
	border-radius: 5 5 0 0;
}

.collection {
	margin: 0 !important;
	padding:0 !important;
	border: 0 !important;
}

ul.collection.collection-recent > a > li:hover {
	background-color: #d3d3d3;
}

.collection .collection-item:hover {
	background-color: #f8f8f8;
}

.collection .collection-recent {
	padding-left: 0;
}

.collection-item {
	border-bottom: 1px solid #f0f0f0 !important;
	list-style: none;
}

.collection-item > img {
	max-width: 100%;
}

.collection .collection-item {
	padding: 10px !important;
}

.collection .collection-item img:hover {
	filter: brightness(80%);
}

.postdate > a,
.author-profile h4,
.text-left-title a,
.author-url-post-head  {
	color:#b5b5b5 !important;
}

.main-content > .text-left-title,
article > h1:not(:first-child),
article > h2,
article > h3,
article > h4,
.author-url-post-head  {
	color:#b5b5b5 !important;
}

/* ######################################

POST/ARTICLE CARD UI - main

##########################################*/

.card {
	border: 0 !important;
	padding: 15px;
	height: 100% !important;
	transition: all .2s ease-in-out;
}

.card-title {
	font-size: 125% !important;
	margin-top: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-title a {
	color: black;
}

.card-title a:hover {
    color: #545454;
    text-decoration: none;
}

.card-block,
.post-content {
	padding: 10px;
}

.card-block {
	border: 1px dotted #d3d3d3;
	border-radius: 0 0 10px 10px;
	background: white !important;
}

.card-text {
	text-overflow: ellipsis;
	overflow: hidden;
    height: 103px;
}

.page-row {
	max-width: 1200px;
	margin-left: auto !important;
	margin-right: auto !important;
	background: white;
}

.post-item-main > a {
	color: white;
}

.post-item-main > a:hover {
	text-decoration: none;
}

.post-item-main {
	margin-top: 5px;
    margin-bottom: 10px;
	height: 235px !important;
}

.badge {
	font-weight: 500;
	color: black;
}

.badge-featured {
	position: absolute;
    top: 25px;
    right: 30px;
    z-index: 10;
    padding: 10px !important;
	background-color: var(--grey-accent2) !important;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
    opacity: 0.9;
    color: black;
	text-align: center;
	border-radius: 5px;
	border: 1px solid var(--grey-accent);
}

/* ######################################

POST/ARTICLE HEADERS

##########################################*/

.post-image {
	height: auto;
	width: 100%;
	background: black;
}

.postdate {
	padding: 10px;
	position:absolute;
	top:30px;
	right:30px;
	opacity:0.7;
	z-index:1;
	background-color:black;
	color:white;
}

.main-content > .collection > .collection-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-actions-top {
	margin-bottom: 10px;
}

.post-authors {
	margin-top: 30px;
}

/* **************************************

  ARTICLE/POST LOOK-N-FEEL

*****************************************/

.post-template .kg-post > p:first-child {
    font-size: 1.25em;
    line-height: 1.5em;
}

.kg-image-card,
.kg-gallery-card {
    margin: 0 0 1.5em;
}

 .kg-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 920px;
}

.kg-embed-card {
    display: flex;
	justify-content: center;
	align-items: center;
    margin: 1.5em 0 3em;
    min-width: 100%;
}

 .post-full-content .kg-image {
    max-width: 100%;
}
 /* Preventing full-width image overlap with post image.  */
.post-full-image + .post-full-content .kg-post *:first-child .kg-image {
    width: 100%;
}

.kg-image-card.kg-width-wide {
    position: relative;
	margin-left: calc(-75vw / 2 + 1060px / 2);
	margin-right: calc(-75vw / 2 + 1060px / 2);
}

.kg-image-card.kg-width-full {
    margin-left: calc(-93vw / 2 + 1060px / 2);
    margin-right: calc(-93vw / 2 + 1060px / 2);
	position: relative;
}

.kg-image {
	max-width: 100%;
	border: 1px solid var(--grey-accent2);
}

 .kg-image-card figcaption,
 .kg-gallery-card figcaption {
	text-align: center;
	margin-bottom: 35px;
	font-style: italic;
	background:	#f8f8f8;
	border: 2px solid var(--grey-accent2);
	border-radius: 0 0 5px 5px;
	padding: 10px;
}

 .post-full-content .kg-image-full + figcaption {
    max-width: 840px;
}

.kg-embed-card .fluid-width-video-wrapper {
    margin: 0;
}

/* Gallery code incoming */
.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em auto;
    max-width: 100%;
    width: 100vw;
}
 .kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
 .kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}
 .kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0;
}
 .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-bookmark-card {
	padding: 20px;
}

.kg-bookmark-publisher {
	font-weight: bold;
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-decoration: none;
	border: 2px solid var(--grey-accent2);
	border-radius: 5px;
	padding: 25px;
	background: #f8f8f8;
}

.kg-bookmark-container:hover {
	color: black !important;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    padding: 20px;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-description,
.kg-bookmark-metadata {
    margin-top: 12px;
}

.kg-bookmark-thumbnail {
    flex-basis: 15rem;
    flex-grow: 1;
}

.kg-bookmark-thumbnail img {
    vertical-align: bottom;
    object-fit: cover;
    width: 100%;
}

.kg-bookmark-icon {
    width: 22px;
    height: 22px;
    margin-right: 8px;
    vertical-align: bottom;
}

.kg-bookmark-author:after {
    content: "•";
    margin: 0 6px;
}

p > img,
.post-content img {
    max-width: 100%;
}

.post-template {
	background: white;
}

.post-template > .container-fluid > .row > .sidebar {
	background: white;
}

.post-content h1 {
  	font-size: 210%;
	font-family: 'Libre Franklin', sans-serif;
	margin-top: 35px;
}

.post-content h2 {
	font-size: 180%;
	font-family: 'Lalezar', cursive !important;
	margin-top: 35px;
}

.post-content h3 {
	font-size: 165%;
	font-family: 'Lalezar', cursive !important;
	margin-top: 35px;
}

.post-content h4 {
	font-size: 140%;
	font-family: 'Lalezar', cursive !important;
	margin-top: 35px;
}

.post-content ul li {
	list-style-type: square !important;
	margin-left: 40px;
	margin-right: 40px;
	padding:5px;
	line-height: 35px;
}

.post-content ol li {
	margin-left: 40px;
	margin-right: 40px;
	padding:5px;
	line-height: 35px;
	text-align: justify;
}

.post-content a {
    color: black;
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
	padding-top: 15px;
	word-wrap: break-word;
}

.posthead-image {
	position: relative;
	opacity: 0.8;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 20%;
}

.post-content  p  img {
	max-width: 100%;
	height:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 20px;
	margin-top:20px;
}

.content-images-featured {
	width: 100%;
}

iframe {
	max-width: 100% !important;
	display:block;
	margin-left:auto;
	margin-right: auto;
	margin-top:20px;
	margin-bottom:20px;
	padding: 50px;
}

/* **************************************

  SLIDER LOOK-N-FEEL

*****************************************/

.carousel:hover {
	filter: brightness(90%) !important;
}

.carousel-caption {
    bottom: 0 !important;
    background: black;
	opacity: 0.5;
	left: 0 !important;
	right: 0 !important;
	padding: 5px;
}

.h-slider {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.7em !important;
}

/* **************************************

  ARTICLE HEADING TAGS, AUTHOR AND PAGES look-n-feel

*****************************************/

.post-avatar {
	height: 75px;
	width: 75px;
	border-radius: 5px;
}

.tag_heading_home {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.tag_heading {
    padding: 20px;
	width: 100%;
	position: relative;
	height: 500px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.tag_heading_post {
	background-size: unset;
	background-repeat: no-repeat;
	background-position: 50% 20%;
}

.tag_heading > .posttitle {
    font-size: 200%;
    font-weight: 300;
	text-shadow: none;
	background-color: #f8f8f8 !important;
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	text-transform: capitalize;
}

.tag_heading > .posttitle.posttitle-author {
	margin-top: 15px !important;
	opacity: 0.9;
	width: 35%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

.cat-links-hr {
	margin-top:7px;
	margin-bottom:7px;
	clear:both;
}

.cat-links > a:hover {
	text-decoration: underline;
	color: #b5b5b5;
}

.tagslist {
	margin-bottom: 35px;
	padding-top: 35px;
	margin-left: 10px;
}

.tagslist a {
	text-decoration: none;
	font-weight: 300;
	color: #9e9e9e;
	padding: 10px;
	text-transform: uppercase;
}

.tagslist a:hover {
	color: black;
	text-decoration: underline;
}

/* **************************************

	ARTICLE: AUTHOR-section look-n-feel

*****************************************/
.author_wrap {
	background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
	padding: 30px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.author_wrap p {
	color: black;
	font-weight: 700;
	font-size: 125%;
}

.author-profile h4 a {
	text-decoration: underline;
}

.author-profile {
	border-top: 1px solid var(--grey-accent2);
	padding-top: 25px;
	padding-bottom: 25px;
}

img.avatar {
	border-radius: 5px;
	width: 100px;
	height: 100px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	z-index:200;
}

.homepage-avatar {
	width: 35px;
	height: 35px;
	border-radius: 5px;
}

.avatar-page {
	width:100px;
	height:100px;
	border-radius: 5px;
}

.avatar-page-author {
	padding: 10px;
	background: white;
}

.author-name {
	font-size:200%;
	font-weight: 300 !important;
}

.author-social {
	margin-top: 50px;
}

.author-social > a > i {
	color:black;
	margin: 5px !important;
}

.socialauthor {
	padding: 15px;
}

.socialauthor > ul > li {
	margin-top: 10px;
	margin-bottom:10px;
}

.author-bio-text {
	padding: 20px;
}

/* **************************************

  PAGINATION

*****************************************/

.pagination {
	padding:15px !important;
	margin-bottom: 0;
	border-radius: 0 !important;
	height: 100px;
	padding-left: inherit !important;
}

.pagination > .active {
	padding: 20px;
	line-height: 14px;
    font-weight: 700;
	background: #d3d3d3;
	text-align: center;
	border-radius: 5px;
	width: 54px;
	height: 54px;
}

.pagination > a > li {
	font-weight: 700;
	border-radius: 5px;
	width: 54px;
	height: 54px;
	line-height: 52px;
	border: 1px solid #d3d3d3;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0;
	background: #f8f8f8;
}

.pagination a li  {
	color: black !important;
}

.pagination a li:hover {
    background: #d3d3d3;
}

.pagination > ul > li {
	background-color: #b5b5b5;
	padding: 15px;
	font-weight: 600;
}

/* **************************************

  RELATED

*****************************************/

.related {
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

/* **************************************

  FOOTER

*****************************************/

footer {
    width: 100%;
    overflow: hidden;
	z-index: 999;
	height: 200px;
}

.page-footer {
	padding-top: 15px;
	bottom: 0;
	background: black !important;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.footer p {
	margin-top: 25px;
	text-decoration: none;
}

.footer a,
.footer p {
	font-size: 12px;
	color: white !important;
	font-weight: bold;
}

.footer a {
	text-decoration: underline;
}

.footer a:hover {
	color: var(--grey-accent2) !important;
}

/* **************************************

	TWEAKS FOR DIFFERENT DISPLAY SIZES

*****************************************/

/* For the people that have phones reporting very low resolutions */
@media (max-width:575px) {

	.main-content-head {
		margin-top: 0 !important;
	}

	header {
		margin-bottom: 0;
	}

	.main-content {
		margin-top: 0;
	}

	.avatar-page-author {
		margin-top: 0;
	}

	.tag_head_wrap {
		height: 300px;
	}

	.logo-main {
		top: 100px;
	}

	.cover-image {
		top: -125px;
		position: relative;
		height: 100%;
	}

	.card {
		padding: 0 !important;
		border: 0 !important;
		padding-bottom: 30px;
	}

	.card-block {
		max-width: 100% !important;
		border: 0 !important;
		padding: 10px;
	}

	.card-text {
		height: auto;
	}

	.headerurl,
	.nav-link {
		text-shadow: none;
	}

	.avatar-page {
		width: 80px;
		height: 80px;
	}

	.tag_heading > .posttitle {
		width: 100%;
	}

	.tag_heading > .posttitle.posttitle-author {
		font-size: 135%;
	}

	.tag_heading {
		margin-top: 0;
		height: 300px !important;
	}

	.tag_heading_post {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 20%;
		height: 300px !important;
	}

	.text-main {
		top: 275px;
	}

	.navbar-brand:hover {
		color: #545454 !important;
	}

	.nav-link {
		text-align: center;
	}

	.navbar-nav {
		flex-direction: column !important;
	}

	.navbar-collapse {
		height: 100vh;
		transition-duration: 0.5s;
	}

	.navbar-collapse .navbar-nav .menu-item a:hover {
		font-size: 2em;
		text-transform: uppercase;
		text-decoration: none;
		text-shadow: none;
		color: #979797 !important;
	}

	.navbar-collapse .navbar-nav .menu-item {
		text-align: center;
	}

	.navbar-collapse .navbar-nav .menu-item a {
		font-size: 2em;
		text-transform: uppercase;
	}

	.menu-item > a:hover {
		color: black;
		background: none;
	}

	.container-fluid {
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-top:0;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}

	.posthead-image {
		top: 0;
		min-height: 300px;
		height: auto;
		width: 100%;
	}

	.carousel {
		display: none;
	}

	.card-title {
		font-size: 110%;
	}

	.author_wrap {
		padding: 15px;
	}
	
	h1 {
		font-size: 2rem !important;
		margin-top: 0;
	}

	h2 {
		font-size: 1.7rem !important;
	}

	h3 {
		font-size: 1.4rem !important;
	}

	h4 {
		font-size: 1.1rem !important;
	}

	.h3-join-the-conversation {
		font-size: 1.6rem !important;
		font-weight: 300 !important;
		margin-left: 15px;
	}

	.main-content > .collection > .collection-item {
		padding-left: 0;
		padding-right: 0;
	}

	img.logo {
		margin-bottom: 40px;
		height: 64px;
	}

	img.avatar {
		margin-top: 20px;
		margin-left: auto !important;
		margin-right: auto !important;
		display: block;
		float: initial;
	}

	.author-bio-text {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	.homepage-avatar {
		width: 25px;
		height: 25px;
	}

	p.text-justify {
		padding-top: 0;
		padding-left:15px;
		padding-right:15px;
		padding-bottom:15px;
	}

	.post-title {
		margin-top: 0;
	}

	.postdate {
		padding:5px;
	}

	.card-block,
	.post-content {
		padding: 0;
	}

	.row-post {
		margin-top: -15px;
	}

	.fa-star,
	.fa-circle {
		margin-right: 5px;
	}

	.post-content ul li {
		margin-left: 0;
	}

	.tagslist {
		margin-left: 0;
	}

	.tagslist a {
		padding: 3px;
	}

	iframe {
		padding: 15px;
	}

	.kg-image-card.kg-width-wide,
	.kg-image-card.kg-width-full {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}


}

/* mobile devices */


@media (max-width:767px) and (min-width:576px) {
	
	.container-fluid {
		max-width: 760px;
		margin-left: auto;
		margin-right: auto;
	}

	.tag_head_wrap {
		height: 300px;
	}

	.tag_heading {
		margin-top: 0;
		height: 350px !important;
	}

	.tag_heading_home {
		top: 0;
		position: relative;
		height: 100%;
	}

	.tag_heading_post {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 20%;
	}

	.logo-main {
		top: 100px;
	}

	.img.logo {
		height: 75px;
		max-height: 75px;
		max-width: 100%;
	}

	.cover-image {
		position: relative;
		height: 200px;
	}

	.text-main {
		top: 65px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.card-text {
		height: auto;
	}

	.headerurl,
	.nav-link {
		text-shadow: none;
	}

	.navbar-collapse {
		height: 100vh;
		transition-duration: 0.5s;
	}

	.navbar-collapse .navbar-nav .menu-item a {
		font-size: 2em;
		text-transform: uppercase;
	}

	.navbar-collapse .navbar-nav .menu-item a:hover {
		font-size: 2em;
		text-transform: uppercase;
		text-decoration: none;
		text-shadow: none;
		color: #979797 !important;
	}

	.navbar-nav {
		flex-direction: column !important;
	}

	.navbar-brand {
		color: black !important;
	}

	.navbar-brand:hover {
		color: #545454 !important;
	}

	.nav-link {
		text-align: center;
	}

	.nav-link:hover {
		color: #545454 !important;
	}

	.menu-item > a:hover {
		background: none;
		color: black;
	}

	.homepage-avatar {
		width: 35px;
		height: 35px;
	}

    h1 {
    	font-size: 120%;
    }

	.content-images,
	.content-images-individual {
		object-fit: cover;
    }

	.row-post {
		margin-top: -15px;
	}

	.tag_heading > .posttitle {
		width: 100%;
	}

	.tag_heading > .posttitle.posttitle-author {
		font-size: 180% !important;
	}

	iframe {
		padding: 25px;
	}

	.author_wrap {
		margin-top: 45px;
		padding: 15px;
	}

	.kg-image-card.kg-width-wide,
	.kg-image-card.kg-width-full {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

@media (max-width:991px) and (min-width:768px) {

	header {
		margin-top: -15px;
	}

	.navbar {
		margin-bottom: 0;
		padding-bottom: 0 !important;
	}

	.menu-item {
		margin-top: 5px;
	}

	.container-fluid {
		max-width: 760px;
		margin-left: auto;
		margin-right: auto;
	}

	.tag_heading {
		margin-top: 0;
		height: 350px !important;
	}

	.tag_heading_home {
		top: 0;
		position: relative;
		height: 350px;
		min-height: 350px;
	}

	.tag_heading_post {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 20%;
		height: 350px;
		min-height: 350px;
	}

	.tag_heading > .posttitle.posttitle-author {
		font-size: 180% !important;
	}

	.logo-main {
		top: 100px;
	}

	.cover-image {
		top: -155px;
		position: relative;
		height: 320px;
	}

	.text-main {
		top: 65px;
	}

	.card-text {
		height: auto;
	}

	.headerurl,
	.nav-link {
		text-shadow: none;
	}

	.content-images,
	.content-images-individual {
		object-fit: cover;
    }

	.row-post {
		margin-top: -15px;
	}

	img.logo {
		height: 75px;
		max-height: 75px;
	}

	.author_wrap {
		margin-top: 55px;
	}

	.kg-image-card.kg-width-wide,
	.kg-image-card.kg-width-full {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	.posthead-image {
		max-height: 500px;
		width: 100%;
		height: 100%;
		top: 150px;
	}
}

/* tablet devices */
@media only screen and (min-width: 992px) {
	
	.ml-auto {
		margin-right: auto !important;
	}

	.card {
		flex: 1 1 300px !important;
	}

	.homepage-avatar {
		width: 35px;
	}

	.headerurl {
		color: white !important;
	}

	.logo-main {
		top: 350px;
	}


	.tag_heading_post {
		background-size: cover;
	}
}

/* **************************************

  ERROR PAGE

*****************************************/
.card-actions-bottom {
	display: block;
	text-align: center;
	margin-bottom: 30px;
  }
  
.card-actions-bottom .post-options-url {
	  padding: 20px;
	  color: var(--accent-error-color) !important;
}
  
.card-actions-bottom .post-options-url:hover {
	  text-decoration: none;
	  color: var(--url-color);
}

.error-image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

/* **************************************

EXTERNAL libraries look-n-feel

*****************************************/
.fa-user-secret,
.fa-tag {
	color: #b5b5b5;
	margin-left:20px;
	margin-right:20px;
}

.fa-facebook:hover {
	color: #3b5998;
}

.fa-twitter:hover {
	color: #1dcaff;
	background: var(--grey-accent2);
}

.fa-rss:hover {
	color: #f26522;
	background: var(--grey-accent2);
}

.fa-rss {
	color: black;
	font-size: 1.5em;
	padding: 15px;
	background: white;
	border-radius: 5px;
}

.fa-twitter {
	color: black;
	font-size: 1.5em;
	padding: 15px;
	background: white;
	border-radius: 5px;
}

.fa-facebook {
	color: black;
	font-size: 1.5em;
	padding: 15px;
	background: white;
	border-radius: 5px;
}

.fa-twitter-author,
.fa-facebook-author {
    color: black;
    background: transparent;
}

.fa-tag {
	margin-right: 8px;
}

.fa-calendar {
	margin-left: 20px;
}

.fa-clock,
.fa-user,
.fa-book {
	margin-right: 10px;
	color: black;
}

.fa-user,
.fa-book {
	margin-left: 25px;
}

.fa-bars {
	color: black;
}

.fa-exclamation-triangle {
	text-align: center;
    display: block !important;
	font-size: 5em !important;
}

.postdate i {
	margin-right: 5px;
}

.postdate > a i {
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3px;
	margin-top: 3px;
}

/* add some styling to disqus */
#disqus_thread {
	padding-left: 40px;
	padding-right: 40px;
}


/* #################

Animations

################### */

/* Rotate */
.hvr-rotate {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
  }

  .hvr-rotate:hover,
  .hvr-rotate:focus,
  .hvr-rotate:active {
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
  }

  /* ##################

  Members

  ################### */

  /* 7.2. Members Subscribe Form
/* ---------------------------------------------------------- */
.subscribe-form {
    margin: 1.5em 0;
    padding: 6.5vw 7vw 8vw;
    border: color(var(--lightgrey) l(+10%)) 1px solid;
    text-align: center;
    background: linear-gradient(color(var(--whitegrey) l(+6%)), color(var(--whitegrey) l(+4%)));
    border-radius: 3px;
}

.subscribe-form-title {
    margin: 0 0 3px;
    padding: 0;
    color: var(--darkgrey);
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 600;
}

.subscribe-form-description {
    margin-bottom: 1em;
    color: var(--midgrey);
    font-size: 2.1rem;
    line-height: 1.55em;
}

.subscribe-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 460px;
}

.subscribe-form .form-group {
    align-self: stretch;
    display: flex;
}

.subscribe-email {
    display: block;
    padding: 10px;
    width: 100%;
    border: color(var(--lightgrey) l(+7%)) 1px solid;
    color: var(--midgrey);
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: normal;
    user-select: text;
    border-radius: 5px;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.subscribe-form button,
.subscribe-overlay button {
	font-weight: 400;
    text-align: center;
    background: linear-gradient(
    color(var(--blue) whiteness(+7%)),
    color(var(--blue) lightness(-7%) saturation(-10%)) 60%,
    color(var(--blue) lightness(-7%) saturation(-10%)) 90%,
    color(var(--blue) lightness(-4%) saturation(-10%))
    );
}

.subscribe-form button {
    position: relative;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0 20px;
    height: 43px;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    line-height: 39px;
    border-radius: 5px;

    -webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-form button:active,
.subscribe-form button:focus {
    background: color(var(--blue) lightness(-9%) saturation(-10%));
}

.subscribe-form .button-loader,
.subscribe-form .message-success,
.subscribe-form .message-error {
    display: none;
}

.subscribe-form .loading .button-content {
    visibility: hidden;
}

.subscribe-form .loading .button-loader {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    margin-left: -19px;
    transform: scale(0.7);
}

.subscribe-form .button-loader svg path,
.subscribe-form .button-loader svg rect {
    fill: #fff;
}

.subscribe-form .success .message-success,
.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
    margin: 1em auto 0;
    max-width: 400px;
    color: var(--red);
    font-size: 1.6rem;
    line-height: 1.5em;
    text-align: center;
}

.subscribe-form .success .message-success {
    display: block;
    color: color(var(--green) l(-5%));
}

.subscribe-form .invalid .message-error,
.subscribe-form .error .message-error {
    display: block;
}


@media (max-width: 650px) {
    .subscribe-form-title {
        font-size: 2.4rem;
    }

    .subscribe-form-description {
        font-size: 1.6rem;
    }
}

@media (max-width: 500px) {
    .subscribe-form form {
        flex-direction: column;
    }

    .subscribe-form .form-group {
        flex-direction: column;
        width: 100%;
    }

    .subscribe-form button {
        margin: 10px 0 0;
        width: 100%;
    }
}

/* 10. Subscribe Message and Overlay
/* ---------------------------------------------------------- */

.notification {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9000;
    padding: 22px 60px;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.3em;
    font-weight: 500;
    text-align: center;
    background: color(var(--green) l(-5%));
    transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    transform: translateY(-175%);
}

.subscribe-success .notification-subscribe {
    visibility: visible;
    transform: translateY(0);
}
.signup-success .notification-signup {
    visibility: visible;
    transform: translateY(0);
}
.signin-success .notification-signin {
    visibility: visible;
    transform: translateY(0);
}
.checkout-success .notification-checkout {
    visibility: visible;
    transform: translateY(0);
}
.billing-success .notification-billing-update {
    visibility: visible;
    transform: translateY(0);
}

.billing-cancel .notification-billing-update-cancel {
    visibility: visible;
    background: color(var(--red) l(-5%));
    transform: translateY(0);
}

.notification.closed {
    visibility: hidden;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(-175%);
}

.notification-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.notification-close:before,
.notification-close:after {
    content: "";
    position: absolute;
    top: 29px;
    right: 25px;
    display: block;
}

.notification-close:before {
    width: 18px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    transform: rotate(45deg);
}

.notification-close:after {
    width: 18px;
    height: 2px;
    background: #fff;
    border-radius: 2px;
    transform: rotate(-45deg);
}


.subscribe-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(9,10,11,0.97);
    opacity: 0;
    transition: opacity 0.2s ease-in;
    pointer-events: none;

    backdrop-filter: blur(3px);
}

.subscribe-overlay .subscribe-close:before,
.subscribe-overlay .subscribe-close:after {
    top: 36px;
    width: 30px;
}

.subscribe-overlay:target {
    opacity: 1;
    pointer-events: auto;
}

.subscribe-overlay-content {
    position: relative;
    z-index: 9999;
    margin: 0 0 5vw;
    padding: 4vw;
    color: #fff;
    text-align: center;
}

.subscribe-overlay .subscribe-form {
    border: none;
    color: #fff;
    background: none;
}

.subscribe-overlay-logo {
    position: fixed;
    top: 23px;
    left: 30px;
    height: 30px;
}

.subscribe-overlay-title {
    display: inline-block;
    margin: 0 0 10px;
    font-size: 5.2rem;
    line-height: 1.15em;
}

.subscribe-overlay-description {
    margin: 0 auto 50px;
    max-width: 650px;
    color: #fff;
    font-family: Georgia, serif;
    font-size: 2.4rem;
    line-height: 1.3em;
    font-weight: 300;
    opacity: 0.8;
}

.subscribe-overlay form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 540px;
}

.subscribe-overlay .form-group {
    flex-grow: 1;
}

.subscribe-overlay .subscribe-email {
    display: block;
    padding: 14px 20px;
    width: 100%;
    border: none;
    color: var(--midgrey);
    font-size: 2rem;
    line-height: 1em;
    font-weight: normal;
    letter-spacing: 0.5px;
    user-select: text;
    border-radius: 8px;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.subscribe-email:focus {
    outline: 0;
    border-color: color(var(--lightgrey) l(-2%));
}

.subscribe-overlay button {
    display: inline-block;
    margin: 0 0 0 15px;
    padding: 0 25px;
    height: 52px;
    outline: none;
    color: #fff;
    font-size: 1.7rem;
    line-height: 38px;
    border-radius: 8px;

    -webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-overlay button:active,
.subscribe-overlay button:focus {
    background: color(var(--blue) lightness(-9%) saturation(-10%));
}

.subscribe-overlay .loading .button-loader {
    top: 5px;
}





/* 12. Members
/* ---------------------------------------------------------- */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
    display: block;
    padding: 0 0.6em;
    width: 100%;
    height: 44px;
    outline: 0;
    border: none;
    border: solid 1px var(--lightgrey);
    color: inherit;
    text-decoration: none;
    background: #fff;
    border-radius: 5px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    border-color: var(--blue);
}

.button {
    display: inline-block;
    padding: 0 1.8rem;
    height: 44px;
    border: 0;
    font-size: 1.5rem;
    line-height: 42px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease;

	appearance: none;
	color: var(--blue);
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--blue);
}

.button.fit {
    width: 100%;
}

.button.small {
    padding: 0 1.1rem;
    height: 30px;
    font-size: 1.4rem;
    line-height: 30px;
}

.button.large {
    padding: 0 3rem;
    height: calc(44px * 1.14);
    font-size: 1.6rem;
    line-height: calc(44px * 1.14);
}

.button.disabled,
.button:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.button:hover {
    color: color(var(--blue) l(-15%));
    text-decoration: none;
    box-shadow: inset 0 0 0 1px color(var(--blue) l(-10%));
    transition: 0.2s ease;
}

.button.primary {
    color: #fff;
    background-color: var(--blue);
    box-shadow: none;
}

.button.primary:hover {
    background-color: color(var(--blue) l(-10%));
}

.site-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form {
    margin: 0 auto 10vw;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.signup-title {
    margin: 0 0 0.1em;
    font-size: 4.2rem;
}

.signup-form p {
    color: var(--midgrey);
    font-size: 1.3em;
}

.signup-form p small {
    display: inline-block;
    margin: 15px 0 0;
    font-size: 1.4rem;
}

.signup-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-box .button {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .signup-box {
        flex-direction: column;
    }
    .signup-box .button {
        margin: 15px 0 0;
        width: 100%;
    }
}

.site-signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-form {
    margin: 0 auto 10vw;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.signin-title {
    margin: 0 0 0.1em;
    font-size: 4.2rem;
}

.signin-form p {
    color: var(--midgrey);
    font-size: 1.3em;
}

.signin-form p small {
    display: inline-block;
    margin: 15px 0 0;
    font-size: 1.4rem;
}

.signin-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin-box .button {
    margin-left: 10px;
}

@media (max-width: 600px) {
    .signin-box {
        flex-direction: column;
    }
    .signin-box .button {
        margin: 15px 0 0;
        width: 100%;
    }
}

.checkout-form {
    margin: 0 auto 10vw;
    max-width: 700px;
    width: 100%;
    text-align: center;
}

.checkout-title {
    margin: 0 auto 10px;
    padding: 5vw 0 0;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -0.6px;
}

.checkout-form p {
    margin: 0 auto 60px;
    max-width: 500px;
    color: var(--midgrey);
    font-size: 1.3em;
}

.checkout-box {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.checkout-plan {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-top: var(--blue) 6px solid;
    color: color(var(--midgrey) l(-30%));
    text-align: left;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(39,44,49,0.03), 0 0 3px rgba(39,44,49,0.05), 0 5px 22px -10px rgba(39,44,49,0.12), 0 25px 30px -25px rgba(39,44,49,0.05);
}

.checkout-plan + .checkout-plan {
    margin-left: 30px;
}

.checkout-plan-header {
    position: relative;
    padding: 0 0 50px;
    color: var(--midgrey);
    text-align: center;
}

.checkout-plan-header:after {
    content: "";
    position: absolute;
    right: 30%;
    bottom: 25px;
    left: 30%;
    display: block;
    height: 2px;
    background: rgba(39,44,49,0.08);
    border-radius: 2px;
}

.checkout-plan-header h3 {
    margin: 0 0 25px;
    color: var(--darkgrey);
    font-size: 1.8rem;
    line-height: 1.15em;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.checkout-plan-header span {
    font-size: 2.6rem;
    font-weight: 300;
}

.checkout-plan-header strong {
    color: var(--darkgrey);
    font-size: 4.5rem;
    font-weight: 500;
}

.checkout-plan-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout-plan-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.checkout-plan-content li {
    position: relative;
    margin: 0;
    padding: 0 0 15px 20px;
    line-height: 1.4em;
}

.checkout-plan-content li:before {
    content: "✓";
    position: absolute;
    left: 0;
    display: block;
    color: color(var(--green) l(-5%));
    font-size: 1.6rem;
    font-weight: 600;
}

.checkout-plan-content .button {
    margin: 20px 0 0;
}

@media (max-width: 740px) {
    .checkout-title {
        margin-top: 50px;
    }
    .checkout-box {
        flex-direction: column;
    }
    .checkout-plan + .checkout-plan {
        margin: 5vw 0 0;
    }
}

form[data-members-form] .button-loader,
form[data-members-form] .message-success,
form[data-members-form] .message-error {
    display: none;
}

.message-success svg,
.message-error svg {
    position: relative;
    top: -1px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
.message-success svg {
    fill: #fff;
}
.message-error svg {
    fill: var(--red);
}

form[data-members-form].success .message-success,
form[data-members-form].error .message-error {
    position: fixed;
    top: 84px;
    right: 20px;
    left: 20px;
    z-index: 9999;
    margin: 0 auto;
    padding: 10px 0;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: 500;
    text-align: center;
    background: color(var(--green) l(-5%));
    border-radius: 5px;
}

form[data-members-form].success .message-success {
    background: color(var(--green) l(-5%));
	display: block;
}

form[data-members-form].error .message-error {
    color: var(--red);
    background: #fff;
    box-shadow: var(--red) 0 0 0 1px;
	display: block;
}

form[data-members-form] .button {
    position: relative;
}

/*-- Loading --*/

/* Hide button text */
form[data-members-form].loading .button-content {
    visibility: hidden;
}

/* Show loading spinner */
form[data-members-form].loading .button-loader {
    position: absolute;
    left: 50%;
    display: inline-block;
    margin-left: -19px;
    height: 31px;
    transform: scale(0.7);
}

.button-loader svg path,
.button-loader svg rect {
    fill: #fff;
}

.site-account {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
}

.subscriber-box {
    margin: 0 auto;
    max-width: 560px;
    width: 100%;
}

.subscriber-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.subscription-title h1 {
    margin-bottom: 12px;
    font-size: 3.4rem;
}

.subscriber-avatar {
    position: relative;
    flex: 1 0 120px;
    width: 120px;
    height: 120px;
    border: 1px solid color(var(--lightgrey) l(+10%));
    background: color(var(--lightgrey) l(+10%));
    border-radius: 100%;

    object-fit: cover;
}

.subscription .subscriber-avatar {
    margin: 4px 0 0 20px;
}

.subscriber-avatar img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
}

.subscriber-box p {
    line-height: 1.5em;
}

.subscription {
    padding: 20px 0 40px;
}

.subscription-expiration-warning {
    color: var(--red);
}

.subscriber-details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 30px;
    padding: 20px 0 0;
    border-top: 1px solid color(var(--lightgrey) l(+10%));
    border-bottom: 1px solid color(var(--lightgrey) l(+10%));
}

.subscriber-detail {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    padding: 0 20px 0 0;
}

.subscriber-detail-label {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.subscription-actions {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.subscription-actions li {
    margin: 0 0.8rem 0 0;
    padding: 0;
}

.subscription-actions li:last-of-type {
    margin-right: 0;
}

.subscription-actions li a {
    display: inline-block;
    padding: 0 1.8rem;
    height: 44px;
    border: 0;
    color: var(--blue);
    font-size: 1.5rem;
    line-height: 42px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px var(--blue);
    cursor: pointer;
    transition: 0.4s ease;

    appearance: none;
}

.subscription-actions li a:hover {
    color: color(var(--blue) l(-15%));
    text-decoration: none;
    text-decoration: none;
    box-shadow: inset 0 0 0 1px color(var(--blue) l(-10%));
    transition: 0.2s ease;
}

.subscription-actions .gh-subscription-cancel {
    color: color(var(--midgrey) l(+10%));
    box-shadow: inset 0 0 0 1px color(var(--midgrey) l(+10%));
}

.subscription-actions .gh-subscription-cancel:hover {
    color: var(--midgrey);
    box-shadow: inset 0 0 0 1px var(--midgrey);
}

.gh-subscription-cancel[data-members-continue-subscription] {
    color: #fff;
    background-color: var(--blue);
    box-shadow: none;
}

.gh-subscription-cancel[data-members-continue-subscription]:hover {
    color: #fff;
    background-color: color(var(--blue) l(-10%));
    box-shadow: none;
}

.gh-error-subscription-cancel {
    display: block;
    margin-top: 10px;
    color: var(--red);
    font-size: 1.5rem;
}

.account-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 560px;
    width: 100%;
}

.account-box-title {
    margin-top: 20px;
    font-size: 3.4rem;
    text-align: center;
}

.account-box p {
    text-align: center;
}

.header-cta {
    margin-left: 20px;
}

.post-card-header-tags {
    display: flex;
    align-items: center;
    margin: 0 0 0.2em;
}

.post-visibility {
    display: inline-block;
    margin: 0 8px 1px 0;
    padding: 1px 5px;
    border: var(--lightgrey) 1px solid;
    color: var(--midgrey);
    font-size: 1.2rem;
    line-height: 1.4em;
    border-radius: 4px;
}

.post-visibility-members,
.post-visibility-paid {
    display: none;
}

.post-upgrade-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-upgrade-cta-content {
    margin: 0 5vw;
    padding: 40px 30px;
    max-width: 840px;
    width: 90vw;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    background: color(var(--blue) l(-5%));
    border-radius: 5px;
}

.post-upgrade-cta-content h2 {
    margin: 0;
    color: #fff;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.post-upgrade-cta .button,
.post-upgrade-cta .button:hover {
    margin: 30px 0;
    color: var(--blue);
    text-decoration: none;
    background: #fff;
    box-shadow: none;
}

.post-upgrade-cta p {
    margin: 0;
}

.post-upgrade-cta a,
.post-upgrade-cta a:hover {
    color: #fff;
    text-decoration: underline;
    box-shadow: none !important;
}

@media (max-width: 600px) {
    .subscriber-details {
        flex-direction: column;
    }

    .subscriber-avatar {
        display: none;
    }
}
