{{!< ../default}}
<div class="col col-xs-12 col-md-12 col-lg-12 main-content">
{{#if @member}}
  <a href="javascript:" data-members-signout>Sign out</a>
{{else}}
  <form data-members-form="signin">
    <input data-members-email type="email" required="true"/>
    <button type="submit">Sign in</button>
  </form>
{{/if}}

</div>